<!-- Style to create button -->
<style>
  .GFG {
    text-align: center;
    display: inline-block;
    font-size: 14px;
    margin: 5px 2px;
    cursor: pointer;
  }
</style>
<p>MPS-ui app is running!</p>
<nav class="navbar navbar-expand navbar-dark bg-dark">
  <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
    <li class="nav-item"><a href="/login" class="nav-link" routerLink="login">Login</a></li>
  </ul>
  <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
    <li class="nav-item"><a href="/profile" class="nav-link" routerLink="profile">{{ username }}</a></li>
  </ul>
</nav>
<button class="GFG" [routerLink]="'/rest/home'"> Home</button>
<button class="GFG" [routerLink]="'/rest/select'"> Показать все</button>
<button class ="GFG" [routerLink]="'/rest/recent'"> Показать последние</button>
<button class ="GFG" [routerLink]="'/rest/' + boxSubst.value"> Показать {{boxSubst.value}}</button>
<button class="GFG" [routerLink]="'/rest/add'"> Добавить</button>
<button *ngIf="!isLoggedIn" class="btn btn-primary" (click)="login()" type="submit">
  Login</button>

<input #boxSubst (keyup)="1">
<td>userName= {{userName}}</td>

<router-outlet></router-outlet>

